* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main img {
    width: 100px;
    height: 150px;
}

main {
    width: 85vw;
    border: 0.5px rgba(38, 135, 190, 0.2) solid;
    margin: 80px;
    padding: 10px;
    background-color: #FAF6F6;
  }

#productos h2 {
    margin: 30px 50px;
}

#productos div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 50px;
}

#compra, #compra div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 100px;
    padding-top: 20px;
}

#compra div {
    position: absolute;
    left: 62%;
    border-top: 1px black solid;
}

#compra button {
    margin-left: 20px;
}

@media (max-width: 768px){
    #compra {
        position: relative;
        right: 20px;
    }
}

@media (max-width: 425px){
    #compra {
        position: relative;
        right: 80px;
    }
    #compra button {
        margin: 5px;
    }
    main {
        margin: 7.5%;
    }
}