* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main img {
    width: 150px;
    height: 200px;
    box-shadow: -6px 10px 3px -1px rgba(0, 0, 0, 0.2);
}

main {
    width: 85vw;
    border: 0.5px rgba(38, 135, 190, 0.2) solid;
    margin: 80px;
    padding: 10px;
    background-color: #FAF6F6;
  }
#products h2 {
    margin: 30px 50px;
    font-size: 40px;
}

#products div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px;
}

#purchase, #purchase div {
    display: flex;
    align-items: center;
    margin: 30px 100px;
    padding-top: 20px;
}
#purchase {
    display: flex;
    justify-content: center;
    
}

#purchase button {
    background: rgba(38, 135, 190, 0.781);
    width: 130px;
    height: 50px;
    border: 5px solid transparent;
    font-size: 15px;
    border-radius: 2px;  
    margin-left: 20px;
}
#purchase button:hover {
    color: white;
}
.mostrarProductos a button {
    background: rgba(38, 135, 190, 0.781);
    width: 130px;
    height: 50px;
    border: 5px solid transparent;
    font-size: 15px;
    border-radius: 2px;  
    margin-left: 20px;
} 
.mostrarProductos a button:hover {
    color: white
} 
.mostrarProductos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.title{
    display: flex;
    font-size: x-large;    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.title p {
    margin: 5px;
}
.productsInCart{
    border: 0.5px rgba(38, 135, 190, 0.2) solid;
    border-radius: 4px;
}

.price{

        display: flex;
        font-size: large;    
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.precioTotal {
    display: flex;
    flex-direction: column;
}
.precioTotal p, h4{
    font-size: larger;    
}
.precioTotal hr { 
    background-color: black;
    width: 120px;
    height: 3px;
}

@media (max-width: 768px){
    #purchase {
        right: 20px;
    }
}

@media (max-width: 425px){
    #purchase {
        right: 80px;
    }
    #purchase button {
        margin: 5px;
    }
    main {
        margin: 7.5%;
    }
}