* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main img {
    width: 150px;
    height: 200px;
}

main {
    width: 85vw;
    border: 0.5px rgba(38, 135, 190, 0.2) solid;
    margin: 80px;
    padding: 10px;
    background-color: #FAF6F6;
  }

#products h2 {
    margin: 30px 50px;
    font-size: 40px;
}

#products div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px;
}

#purchase, #purchase div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 100px;
    padding-top: 20px;
}

#purchase div {
    position: absolute;
    left: 62%;
}

#purchase button {
    margin-left: 20px;
}

.mostrarProductos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.title{
    display: flex;
    font-size: x-large;    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.title p {
    margin: 5px;
}
.productsInCart{
    border: 0.5px rgba(38, 135, 190, 0.2) solid;
    border-radius: 4px;
}

.price{

        display: flex;
        font-size: large;    
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

@media (max-width: 768px){
    #purchase {
        position: relative;
        right: 20px;
    }
}

@media (max-width: 425px){
    #purchase {
        position: relative;
        right: 80px;
    }
    #purchase button {
        margin: 5px;
    }
    main {
        margin: 7.5%;
    }
}