body {
    background-color: #FAF6F6;
}

.formulario {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}
form  div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}

#categorias {
    display: flex;
    flex-direction: row;
}

#categorias input {
    margin: 10px;
}

.categoria {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

input {
    border-radius: 5px;
    width: 60vh;
    height: 30px;
}
label {
    font-size: x-large;
}
button {
    width: 100px;
    margin: 20px;
    font-size: medium;
}

hr {
    border-top: 1px solid grey ;
    width: 50%;
}

#botones {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#borrar{
    border: 1px solid #626567;
    padding: 2px 13px;
    background-color: #E5E7E9;
    border-radius: 2px;
}

#borrar:hover {
    color: #E52626;
}
