body{
  margin: 0%;
}

header .content{
    background-color: #5c7287;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


header p {
  font-size: 20px;
}

.header-brand {
    background-color: #5c7287;
    display: inline-block;
    justify-content: center;
}
.header-brand .logo {
    height: 150px;
    display: inline-block;
    justify-content: center;
    width: 150px;
}

form .header-search {
    outline: 0;
    float: left;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
  }
  
  form > .textbox {
    outline: 0;
    height: 50px;
    width: 600px;
    line-height: 42px;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color:  #5c7287;
    border: 0;
    float: left;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }
  
  form > .textbox:focus {
    outline: 0;
    background-color:  #e7edf3;
    color: #5c7287;
  }
  
  form > .button {
    outline: 0;
    background: none;
    background-color: rgba(38, 50, 56, 0.8);
    float: left;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 42px;
    border: 0;
    color: #FFF;
    font: normal normal normal 14px/1 FontAwesome;
    font-weight: bold;
    font-size: 16px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    transition: background-color .4s ease;
    border-radius: 0 4px 4px 0;
  }
  
  form > .button:hover {
    background-color:  #e7edf3;
    color: #5c7287;
  }

div .user,  .userAdmin{
    display: flex;
    justify-content: end;
}
div .user {
  flex-direction: column;
  padding-top: 20px;
}

div .userAdmin{
  font-size: large;
}

a { 
    color:rgba(38, 50, 56, 1); 
    text-decoration: none;
    
}
a:hover { color:white; }

section {
    font: normal normal normal 14px/1 FontAwesome;
    width: 100%;
    display: inline-block;
    background: #ccc;
    height: 60vh;
    text-align: center;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal normal normal 14px/1 FontAwesome;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
  text-align: left;
}


.footer-distributed p.footer-links {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    font-size: 20px;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }


  
    @media (max-width: 992px){
      div .userAdmin{
        padding-bottom: 10px;
        font-size: xx-large;
      }
 }

    @media (max-width: 576px){
      form > .textbox {
        height: 42px;
        width: 300px;
      }
      form > .button {
        height: 42px;
        width: 42px;
      }
      div .user {
        padding-top: 10px;
      }
   }

   @media (max-width: 768px){
    form > .textbox {
      height: 50px;
      width: 700px;
    }
    form > .button {
      height: 50px;
      width: 50px;
    }
   }  
   @media (max-width: 1245px){
    div .userAdmin{
      padding-bottom: 20px;
      font-size: x-large;
    }
  }