#carrusel h2 {
    background-color: #081291;
    border: 2px solid black;    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 120px;
}

body #carrusel {
    display: flex;
    justify-content: center;
}

body #carrusel i {
    display: flex;
    align-items: center;
    margin: 8px;
    font-size: 20px;
}

img {
    width: 90px;
    height: 110px;
}
#imagenes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

main #novedades h2, p {
    text-align: center;
}

#categorias ul li {
    margin: 15px;
}

#categorias ul li a:hover {
    color: rgba(38, 135, 190, 0.781);
}
