body {
    box-sizing: border-box;
    margin: 0;
}
main {
    background-color: #FAF6F6;
    margin: 50px;
    height: 500px;
    border-radius: 5px;
    border: 0.5px solid black;
}
h1 {
    text-align: center;
}
#email {
    margin-top: 30px;
}
#pass, #email {
    width: 50%;
    height: 50px;
    font-size: large;
    border-radius: 10px;
}
#pass {    
    margin-top: 20px;
}
#ingresar {
    width: 30%;
    height: 30px;
    margin-top: 40px;
    border-radius: 10px;
}
form div {
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
section a, section p {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    color: black
}
form {
   padding-top: 50px;
}
input:hover {
  border: none;
}

/*footer*/
.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    text-align: left;
    font: normal normal normal 14px/1 FontAwesome;
    padding: 45px 50px;
  }
  
  .footer-distributed span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #8f9296;
    font-size: 14px;
    padding-top: 35px;
  }
  
  
  .footer-distributed p.footer-links {
      display: flex;
      justify-content: center;
      font-size: 14px;
      font-weight: bold;
      color: #ffffff;
      margin: 0 0 10px;
      padding: 0;
      transition: ease .25s;
    }
    
    .footer-distributed p.footer-links a {
      display: inline-block;
      line-height: 1.8;
      text-decoration: none;
      color: inherit;
      transition: ease .25s;
    }
    
    .footer-distributed .footer-links a:before {
      font-size: 20px;
      color: #fff;
      display: inline-block;
      padding-right: 5px;
    }
    
    .footer-distributed .footer-links .link-1:before {
      content: none;
    }
    
    .footer-distributed .footer-right {
      float: right;
      margin-top: 6px;
      max-width: 180px;
    }
    
    .footer-distributed .footer-right a {
      display: inline-block;
      width: 35px;
      height: 35px;
      background-color: #33383b;
      border-radius: 2px;
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
      margin-left: 3px;
      transition:all .25s;
    }