*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
main hr {
  color: red;
  width: 60%;
  height: 2px;
  margin-bottom: 10px;
}
#product img {
  float: left;
  width: 210px;
  height: 290px;
  margin-right: 50px;
  box-shadow: 8px -8px 3px -2px rgba(0, 0, 0, 0.2);
}

#purchase p {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: xx-large;
}

#product h3{
  width: 600px;
  font-size: xx-large;
  padding-bottom: 10px;
  text-shadow: 1px 1px 0px rgba(38, 135, 190, 0.781);
}

#product p {
    width: 500px;
}

.extra img {
  width: 130px;
  height: 190px;
}

#purchase {
  display: flex;
  justify-content: center;
  
}
div .comprar {
  margin: 50px;
  display: block;
  justify-content: center;
}

#product {
  margin: 50px;
  top: 50px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.extra {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 85vw;
  border: 0.5px rgba(38, 135, 190, 0.2) solid;
  margin: 100px;
  padding: 15px;
  flex-wrap: wrap;
  background-color: #FAF6F6;
  position: relative;
  top: 20px;
}

div .img {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px;
}

#image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 10px;
  flex-wrap: wrap;
}

.comprar button {
  background: rgba(38, 135, 190, 0.781);
  width: 130px;
  height: 50px;
  border: 5px solid transparent;
  font-size: 20px;
  border-radius: 2px;
  
}
.comprar button:hover{
  width: 135px;
  height: 55px;
  font-size: 25px;
}
@media (max-width: 768px){
  #purchase {
    display: flex;
    flex-direction: column;
  }
  #purchase p {
    text-align: center;
  }
  #purchase button {
    margin: 2px;
  }
}

@media (max-width: 425px){
  #purchase, #product {
    margin: 20px;
  }
  #product p, #product h3{
    position: relative;
    top: 10px;
  }
  #purchase {
    display: flex;
    position: relative;
    top: 80px;
  }
}










