*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#product img {
  float: left;
  width: 130px;
  height: 190px;
  margin-right: 50px;
}

.extra img {
  width: 130px;
  height: 190px;
}

#purchase {
  margin-left: 500px;
}

#product, #purchase {
  position: relative;
  top: 50px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.extra {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 85vw;
  border: 0.5px rgba(38, 135, 190, 0.2) solid;
  margin: 100px;
  padding: 15px;
  flex-wrap: wrap;
  background-color: #FAF6F6;
  position: relative;
  top: 20px;
}

div .img {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px;
}

#image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 10px;
  flex-wrap: wrap;
}

@media (max-width: 768px){
  #purchase {
    display: flex;
    flex-direction: column;
  }
  #purchase p {
    text-align: center;
  }
  #purchase button {
    margin: 2px;
  }
}

@media (max-width: 425px){
  #purchase, #product {
    margin: 20px;
  }
  #product p, #product h3{
    position: relative;
    top: 10px;
  }
  #purchase {
    display: flex;
    position: relative;
    top: 80px;
  }
}










