body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div {
  margin: 40px;
}

#product img {
  float: left;
}

div img {
  display: inline-block;
  margin: 30px;
}