body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div {
  margin: 40px;
}

#product img {
  float: left;
}

div img, #compra {
  margin: 40px;
  padding: 30px;
}

body :nth-child(1){
  display: flex;
}

#compra {
  margin-left: 400px;
}

#product p {
  position: relative;
  top: 50px;
  right: 50px;
}

div h4 {
  margin-left: 50px;
}

