*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

 ul {
     display: flex;
     padding: 0;
     fle
     flex-wrap: wrap;
 } 

#product{
    display: block;
    margin: 50px 30px;
    padding: 20px;
    padding-left: 50px;
    border: rgba(38, 135, 190, 0.2) solid 1px;
    width: 60%;
}

#product p, #product strong {
    display: block;
    flex-direction: row;
    justify-content: center;
    position: fixedS;
    bottom: 30%;
}
#product img {
    height: 250px;
    width: 184px;
}
