*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#product{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#product p:last-child{
    font-size: larger;
}