div label {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 30px;
}

#profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 50%;
    margin-right: 50%;
}

#genre{
    display: flex;
    align-content: center;
    flex-direction: row;
}

#genre label {
    font-size: 22px;
}