* {
    box-sizing: border-box;
    margin: 0;
}
h1 {
    text-align: center;
}
header div {
    background-color: white;
    display: flex;
    justify-content: center;
}
a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 100px;
}
main {
    height: 50%;
    width: 100vw;
}
form #nombre-email-pass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form #nombre-email-pass input {
    width: 30vw;
    height: 40px;
    border-radius: 10px;
}
#fecha-de-nacimiento {
    display: flex;
    align-items: center;
    justify-content: center;
        /*margin-left: 250px;
        margin-top: 40px;*/
    
}
form div input {
    width: 150px;
    height: 40px;
}
section {
    margin-left: 250px;
    padding-top: 30px;
}
#ingresa {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 36%;
}
p {
    font-size: 20px;
    margin-left: 33%;
}
#form {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 60vw;
}
#name, #lastname {
    width: 300px;
}

hr {
    border-top: 1px solid grey ;
}


/*footer*/
.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    height: 250px;
    width: 100%;
    text-align: left;
    font: normal normal normal 14px/1 FontAwesome;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p, span {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  
  
  .footer-distributed p.footer-links {
      font-size: 14px;
      font-weight: bold;
      color: #ffffff;
      margin: 0 0 10px;
      padding: 0;
      transition: ease .25s;
    }
    
    .footer-distributed p.footer-links a {
      display: inline-block;
      line-height: 1.8;
      text-decoration: none;
      color: inherit;
      transition: ease .25s;
    }
    
    .footer-distributed .footer-links a:before {
      font-size: 20px;
      color: #fff;
      display: inline-block;
      padding-right: 5px;
    }
    
    .footer-distributed .footer-links .link-1:before {
      content: none;
    }
    
    .footer-distributed .footer-right {
      float: right;
      margin-top: 6px;
      max-width: 180px;
    }
    
    .footer-distributed .footer-right a {
      display: inline-block;
      width: 35px;
      height: 35px;
      background-color: #33383b;
      border-radius: 2px;
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
      margin-left: 3px;
      transition:all .25s;
    }
    footer div:nth-child(3) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        padding-top: 60px;
        margin-top: 50px;
    }