* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* HEADER*/
header div {
    display: flex;
    justify-content: center;
    position: relative;
    left: 30px;
}
header a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 100px;
    color: black;
    text-decoration: none;
}

hr {
    border-top: 1px solid grey ;
    width: 100%;
}

/* MAIN*/

 h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

#name-email-pass{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;
}

form #name-email-pass input {
    font-size: large;
    width: 39vw;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}


.error{
    display: none
}

.error-activo{
    color: #FF2020;
    display: block;
    font-size: 15px;
}

#dateOfBirthay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 15px;
}

form div input {
    width: 150px;
    height: 40px;
    margin-top: 10px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding-top: 15px;
}
section input {
    margin: 7px;
}
#enter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#enter input {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    border-radius: 10px;
}

input:hover {
    border: 2px solid #292c2f;
}

p {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 10px;
}
#form {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    background-color: #FAF6F6;
}
 h3 {
     display: flex;
     justify-content: center;
     margin-top: 20px;
 }

#login {
    display: flex;
     justify-content: center;
     margin-top: 20px;
 
}

/*footer*/
.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal normal normal 14px/1 FontAwesome;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
    text-align: left;
  }
  
  
  .footer-distributed p.footer-links {
      font-size: 14px;
      font-weight: bold;
      color: #ffffff;
      margin: 0 0 10px;
      padding: 0;
      transition: ease .25s;
    }
    
    .footer-distributed p.footer-links a {
      display: inline-block;
      line-height: 1.8;
      text-decoration: none;
      color: inherit;
      transition: ease .25s;
    }
    
    .footer-distributed .footer-links a:before {
      font-size: 20px;
      color: #fff;
      display: inline-block;
      padding-right: 5px;
    }
    
    .footer-distributed .footer-links .link-1:before {
      content: none;
    }
    
    .footer-distributed .footer-right {
      float: right;
      margin-top: 6px;
      max-width: 180px;
    }
    
    .footer-distributed .footer-right a {
      display: inline-block;
      width: 35px;
      height: 35px;
      background-color: #33383b;
      border-radius: 2px;
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
      margin-left: 3px;
      transition:all .25s;
    }



    @media (max-width: 992px){
         a {
            padding-right: 70px;
        }
        form #name-email-pass input {
            width: 45%;
        }
        #enter input {
            width: 35%;
        }
    }

    @media (max-width: 576px){
        a {
          padding-right: 20px;
        }
        form #name-email-pass input {
            width: 100%;
        }
        #enter input {
            width: 45%;
        }
      }

      @media (max-width: 768px){
        a {
          padding-right: 30px;
        }
        form #name-email-pass input {
            width: 45%;
        }
        #enter input {
            width: 37%;
        }
      }


