div main {
    background-color: aqua;
}
h1 {
    text-align: center;
}
p, a {
    display: inline-block;
}
input {
    display: block;
}
a, form div, p {
    display: flex;
    justify-content: center;
    align-items: center;
}