<footer class="footer-distributed">
    <div class="footer-right">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
    <div class="footer-left">
        <p class="footer-links">
            <a href="#">Politcas de privacidad</a><span class="desaparece-en-mobile"> - </span>
            <a href="#">Preguntas frecuentes</a><span class="desaparece-en-mobile"> - </span>
            <a href="#">Terminos y condiciones</a><span class="desaparece-en-mobile"> - </span>
            <a href="#">Ayuda</a><span class="desaparece-en-mobile"> - </span>
            <a href="#">Contacto</a>
        </p>
        <p>University E-books &copy; 2020</p>
    </div>
</footer>