<header>
    <div class="content">
      <div class="header-brand inlineblock">
        <a href="/">
          <img class="logo" src="/image/logo.png" alt="E-coomerces Ebooks Universirarios" >
        </a>
      </div>
      <div class="header-search">
        <form action="/search" method="GET">
          <input type="text" name="textbox" class="textbox" placeholder="Busca por autor, titulo o palabra">
          <input title="search" value="" type="submit" class="button">
        </form>
      </div> 
        <% if(typeof user != 'undefined'){ %>
          
          <div class="user">
            <a href="/users/profile/<%= user.id%>"><p><%= user.name %></p></a> 
            <a href="/users/logout" id="logout">Cerrar sesion</a>
            <br>
          </div>
          <%if(user.admin == 1){%>
            <div class="userAdmin">
              <a href="http://localhost:3000/">Dashboard -</a>
              <a href="/products/create">Crear producto -</a>
          <%}%>
              <a href="#category">Categorias - </a>
              <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
            </div>
          
          <% }else { %>
            <div>
              <a href="/users/register"> Registrarse -</a>
              <a href="/users/login"> Ingresar</a>
              <a href="#category"> - Categorias</a>
            </div>
        </div>
        <% } %> 
    </div>
  </header>