<header>
    <div class="content">
      <div class="header-brand inlineblock">
        <a href="/">
          <img class="logo" src="/image/logo.png" alt="E-coomerces Ebooks Universirarios" >
        </a>
      </div>
      <div class="header-search">
        <form action="/search" method="post">
          <input type="text" class="textbox" placeholder="Busca por autor, titulo o palabra" value=''>
          <input title="Search" value="" type="submit" class="button">
        </form>
      </div>
      <div  class="header-personal"> 

        
        <% if(typeof user != 'undefined'){ %>
          <a href="/users/profile/<%= user.id%>"><p><%= user.name %></p></a> 
          <a href="/users/logout" id="logout">Cerrar sesion</a>
          <br>
          <a href="#category">Categorias - </a>
          <a href="#"><span>10 </span><i class="fas fa-shopping-cart"></i></a>
        <% }else { %>
          <a href="/users/register"> Registrarse -</a>
          <a href="/users/login"> Ingresar</a>
          <a href="#category"> - Categorias</a>
        <% } %>
      </div>
    </div>
    <script src="../js/search.js"></script>
  </header>