<header>
    <div class="content">
      <div class="header-brand inlineblock">
        <img class="logo" src="/imagenes/logo.png" alt="E-coomerces Ebooks Universirarios" >
      </div>
      <div class="header-search">
        <form method="post">
          <input type="text" class="textbox" placeholder="Busca por autor, titulo o palabra">
          <input title="Search" value="" type="submit" class="button">
        </form>
      </div>
      <div  class="header-personal"> 
        <a href="#categorias">Categorias -</a>
        <a href="/users/registro"> Registrarse -</a>
        <a href="/iniciasesion"> Ingresar</a>
        <a href="#"><span>10 </span><i class="fas fa-shopping-cart"></i></a>
      </div>
    </div>
  </header>