<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/header-footer.css">
    <script src="https://kit.fontawesome.com/2c807fa682.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <%-include('./partials/header') %> 
    <form action="/products/crearproducto" method="POST">
        <label for="nombre">Nombre del producto</label>
        <input type="text" name="nombre">
        <label for="descripcion">descripcion</label>
        <input type="text" name="descripcion">
        <label for="img">imagen </label>
        <input type="file" name="imagen">
        <label for="categoria">categoria</label>
        <input type="text" name="categoria">
        <label for="precio">Precio</label>
        <input type="text" name="precio">
        <button type="submit">Enviar</button>
    </form>

    <%-include('./partials/footer') %> 
</body>
</html>