<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <div>
          <p>Politcas de privacidad</p>
          <p>Preguntas frecuentes</p>
          <p>Terminos y condiciones</p>
          <p>Ayuda</p>
        </div>
        <div>
          <a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram"></i></a>
        </div>
      </footer>
</body>
</html>