<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="stylesheets/home.css">
</head>
<body>
  <div id="carrusel">
    <i class="fas fa-chevron-left"></i>
    <h2>Carrusel</h2>
    <i class="fas fa-chevron-right"></i>
  </div>
    <footer>
        <div>
          <p>Politcas de privacidad</p>
          <p>Preguntas frecuentes</p>
          <p>Terminos y condiciones</p>
          <p>Ayuda</p>
        </div>
        <div>
          <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
          <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
          <img src="imagenes/datafiscal.jpg" alt="data fiscal">
        </div>
      </footer>
</body>
</html>