<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
  <div id="container">

  <div>
    <h2>Novedades</h2>
    <p>Lo ultimo en libros universitarios</p> 
    <a href="/novedades">Ver mas</a>

    <div>
      <ul>
        <li><img src="/imagenes/Roos.jpg" alt="portada libro Roos"></li>
        <p>Histologia, texto y atlas</p>
        <p>por <strong>Roos</strong></p>
        <p>$</p>
        <li><img src="/imagenes/la politica economica.jpg" alt="portada libro politica economica si importa"></li>
        <p>La politica economica si importa</p>
        <p>por <strong>Expansion</strong></p>
        <p>$</p>
        <li><img src="" alt="portada libro psicologia"></li>
        <p>Histologia, texto y atlas</p>
        <p>por <strong>Roos</strong></p>
        <p>$</p>
        <li><img src="" alt="portada libro historia"></li>
        <p>Histologia, texto y atlas</p>
        <p>por <strong>Roos</strong></p>
        <p>$</p>
        <li><img src="/imagenes/500-modelos-escritos-judiciales-wb-300x300.jpg" alt="portada libro derecho"></li>
        <p>500 modelos escritos judiciales</p>
        <p>por <strong>Victor de santo</strong></p>
        <p>$</p>
        <li><img src="/imagenes/administracion de empresas.jpg" alt="portada libro Administrastive Behavior"></li>
        <p>Administrastive Behavior</p>
        <p>por <strong>Herbert A. Simon</strong></p>
        <p>$</p>
      </ul>
    </div>
  </div>
    <footer>
        <div>
          <p>Politcas de privacidad</p>
          <p>Preguntas frecuentes</p>
          <p>Terminos y condiciones</p>
          <p>Ayuda</p>
        </div>
        <div>
          <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
          <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
          <img src="/datafiscal.jpg" alt="data fiscal">
        </div>
      </footer>
    </div>
</body>
</html>