<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University ebooks</title>
    <link rel="stylesheet" href="/stylesheets/iniciasesion.css">
    <script src="https://kit.fontawesome.com/2c807fa682.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="container">
        <header>
            <img src="/imagenes/logo.png" alt="Logo">
        </header>

        <main id="register">
            <form action="/dataBase/registro.json" method="POST">
                <h1>Iniciar sesion</h1>
                    <div>
                        <input type="email" name="email" id="email" placeholder="Email" required>
                    </div>
                    <div>
                        <input type="password" name="pass" id="pass" placeholder="Contraseña" required>        
                    </div>
                <div>
                    <input type="submit" value="Ingresar" id="ingresar">
                </div>
            </form>
            <section>
                <p><a href="#">Olvidaste tu contraseña?</a></p>
                <p><a href="/users/registro">Crear cuenta</a></p>
            </section>
            </main>
    
            <%-include('./partials/footer') %> 
</div>
</body>
</html>