<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University ebooks</title>
    <link rel="stylesheet" href="/stylesheets/registro.css">
</head>
<body>
    <header>
        <a href="/"><img src="/imagenes/logo.png" alt="Logo"></a>
    </header>

    <%-include('./partials/footer') %> 
</body>
</html>