<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/header-footer.css">
    <script src="https://kit.fontawesome.com/2c807fa682.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/productcreate.css">
    <title>University ebooks</title>
</head>

<body>
    <%-include('./partials/header') %>
    <form class="form" action="/products/create" method="POST" enctype="multipart/form-data">
    
        <div>
            <label for="name">Nombre del producto:</label>
            <input type="text" name="name">
        </div>
        <hr>
        <div>
            <label for="editorial">Editorial:</label>
            <input type="text" name="editorial">
        </div>
        <hr>
        <div>
            <label for="description">Descripcion:</label>
            <input type="text" name="description">
        </div>
        <hr>
        <div>
            <label for="image">Imagen:</label>
            <input type="file" name="image">
        </div>
        <hr>
        <h2>Categoria:</h2>
        <div id="category">
            <div class="category">
                <label for="Arquitectura y Diseño">Arquitectura y Diseño</label>
                <input type="radio" name="category" value="arquitectura" id="Arquitectura y Diseño">
                <label for="Ciencias Economicas">Ciencias Economicas</label>
                <input type="radio" name="category" value="economicas"id="Ciencias Economicas">
                <label for="Ciencias Sociales">Ciencias Sociales</label>
                <input type="radio" name="category" value="sociales"id="Ciencias Sociales">
                <label for="Derecho">Derecho</label>
                <input type="radio" name="category" value="derecho"id="Derecho">
            </div>
            <div class="category">
                <label for="Farmacia y Bioquímica">Farmacia y Bioquímica</label>
                <input type="radio" name="category" value="far_y_bio"id="Farmacia y Bioquímica">
                <label for="Ingenieria">Ingenieria</label>
                <input type="radio" name="category" value="inge"id="Ingenieria">
                <label for="Medicina">Medicina</label>
                <input type="radio" name="category" value="medic"id="Medicina">
                <label for="Psicología">Psicología</label>
                <input type="radio" name="category" value="psico" id="Psicología">
            </div>
        </div>
        <hr>
        <div>
            <label for="price">Precio:</label>
            <input type="text" name="price">
        </div>
        <hr>
        <button type="submit">Enviar</button>
    </form>

    <%-include('./partials/footer') %>
</body>

</html>