<html>
    <head>
        <title>Carrito de compras</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets\carrito.css">
    </head>
    <body>
        <h3>CARRITO</h3>
        <div>
            <img src="" alt="book">
            <h3>Titulo</h3>
            <p>Precio</p>
        </div>
        <div>
            <img src="" alt="book">
            <h3>Titulo</h3>
            <p>Precio</p>
        </div>
        <div>
            <button type="button">Seguir Comprando</button>
            <button type="reset">Vaciar Carrito</button>  
            <h4>Precio Total</h4>
            <button type="button">Comprar</button>
        </div>
    </body>
</html>