<html>
    <head>
        <title>Pagina de Producto</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    </head>
    <body>
        <div>
            <div id="product">
                <img src="" alt="book">
                <h3>Titulo</h3> 
                <p>Descripcion</p>
            </div>            
            <div id="compra">
                <p>$$$</p>
                <button type="button">Comprar</button>
                <button type="button">Añadir al carrito</button>
            </div>
        </div>

        <div>
            <h4>Libros recomendados</h4>
            <img src="" alt="book">
            <img src="" alt="book">
            <img src="" alt="book">
            <img src="" alt="book"><i class="fas fa-arrow-right"></i>
        </div>
    </body>
</html>