<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/header-footer.css">
    <link rel="stylesheet" href="/stylesheets/purchaseCompleted.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2c807fa682.js" crossorigin="anonymous"></script>
</head>
<body>
    <%-include('./partials/header') %> 
    <div class="h1">
        <h1>Compra finalizada</h1>
    </div>
    <div class="gif">

    </div>
    <%-include('./partials/footer') %>
    <script src="../js/gifsApi.js"></script> 
</body>
</html>