<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University ebooks</title>
    <link rel="stylesheet" href="/stylesheets/registro.css">
</head>
<body>
    <div id="container">
        <header>
            <img src="/logo.png" alt="">
            <a href="iniciasesion">inicia sesion</a>
        </header>
        <main id="register">
            <form action="/views/register" method="POST">
                <h1>Crear cuenta</h1>
                <input type="text" name="name" id="name" placeholder="Nombre" required>
                <input type="text" name="lasname" id="lastname" placeholder="Apellido" required>
                <input type="email" name="email" id="email" placeholder="E-mail" required>
                <input type="password" name="pass" id="pass" placeholder="Elegi tu contraseña" required>
                <div>
                <h3>Fecha de nacimiento</h3>
                <input type="date" name="date" id="date" required>
                </div>
                <section>
                    <h3>Genero</h3>
                <input type="radio" name="usuario" value="mas" id="masculino" required><label for="masculino">Masculino</label>
                <input type="radio" name="usuario" value="fem" id="femenino" required><label for="femenino">Femenino</label>
                <input type="radio" name="usuario" value="otr" id="otro" required><label for="otro">Otro</label>
                </section>
                <input type="submit" value="Ingresar" id="ingresa">
                <p>Creando tu cuenta, aceptas nuestros terminos y condiciones.</p>
            </form>
        </main>
        <footer>
            <p>soy un foooter</p>
        </footer>
    </div>
</body>
</html>