<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University ebooks</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
    <script src="https://kit.fontawesome.com/2c807fa682.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="container">
        <header>
            <div>
                <a href="/"><img src="/image/logo.png" alt="logo"></a>
            </div>
            <a href="/users/login">inicia sesion</a>
        </header>
        <hr>
        <main id="register">
            <!-- <% if(typeof errors != 'undefined'){ %>
                <ul>
    
                    <% for(i=0; i<errors.length; i++){ %>
                        <li>
                            <%= errors[i].msg %>
                        </li>
                   <% } %> 
                </ul>
                <% } %> -->
            <form action="/users/register" id="form" method="POST">
                <h1>Crear cuenta</h1>
                <div id="name-email-pass">
                    <input type="text" name="name" id="name" placeholder="Nombre y apellido" >
                    <div></div>
                    <input type="email" name="email" id="email" placeholder="E-mail" >
                    <input type="password" name="pass" id="pass" placeholder="Elegi tu contraseña" >
                </div>
                <div id="dateOfBirthay">
                <h3>Fecha de nacimiento</h3>
                <input type="date" name="date" id="date" >
                </div>
                <h3>Genero</h3>
                <section>
                <input type="radio" name="genre" value="male" id="male" > <label for="male"> Masculino</label>
                <input type="radio" name="genre" value="female" id="female" > <label for="female"> Femenino</label>
                <input type="radio" name="genre" value="other" id="other" > <label for="other"> Otro</label>
                </section>
                <div id="enter">
                <input type="submit" value="Registrame">
                <p>Creando tu cuenta, aceptas nuestros terminos y condiciones.</p>
                </div>
            </form>
        </main>

        <%-include('./partials/footer') %>
    </div>
    
    <script src="../js/validaciones.js"></script>
</body>
</html>