<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University ebooks</title>
    <link rel="stylesheet" href="/stylesheets/registro.css">
    <script src="https://kit.fontawesome.com/2c807fa682.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="container">
        <header>
            <div>
                <img src="/imagenes/logo.png" alt="logo">
            </div>
            <a href="iniciasesion">inicia sesion</a>
        </header>
        <hr>
        <main id="register">
            <form action="/views/register" id="form" method="POST">
                <h1>Crear cuenta</h1>
                <div id="nombre-email-pass">
                    <input type="text" name="name" id="name" placeholder="Nombre y apellido" required>
                    <input type="email" name="email" id="email" placeholder="E-mail" required>
                    <input type="password" name="pass" id="pass" placeholder="Elegi tu contraseña" required>
                </div>
                <div id="fecha-de-nacimiento">
                <h3>Fecha de nacimiento</h3>
                <input type="date" name="date" id="date" required>
                </div>
                <h3>Genero</h3>
                <section>
                <input type="radio" name="usuario" value="mas" id="masculino" required> <label for="masculino"> Masculino</label>
                <input type="radio" name="usuario" value="fem" id="femenino" required> <label for="femenino"> Femenino</label>
                <input type="radio" name="usuario" value="otr" id="otro" required> <label for="otro"> Otro</label>
                </section>
                <div id="ingresa">
                <input type="submit" value="Ingresar">
                <p>Creando tu cuenta, aceptas nuestros terminos y condiciones.</p>
                </div>
            </form>
        </main>

        <%-include('./partials/footer') %>
        
    </div>
</body>
</html>